@model SkillsTest.Models.ViewModels.QuickAssignment
@{
    ViewData["Title"] = "Home Page";
}

<h2>Quick Assignment</h2>

<h4>Quick Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">UnAssigned Cattles: @ViewBag.Max</label>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" type="number" max="@ViewBag.Max" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PastureId" class="control-label">Pasture</label>
                <select asp-for="PastureId" class="form-control" asp-items="ViewBag.PastureId">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
